{
    "comment": "This is a sample input file. Unrecognized attributes (like the ones prepended with '_') are ignored.",
    "debug": false,
    "ensemble": "grand_canonical",
    "method": "metropolis",
    "bias": "order_param",
    "model": {
        "formation_energy": "formation_energy"
    },
    "supercell": [
        [
            24,
            12,
            0
        ],
        [
            0,
            12,
            24
        ],
        [
            0,
            -12,
            0
        ]
    ],
    "data": {
        "sample_by": "pass",
        "sample_period": 1,
        "_N_sample": 1000,
        "_N_pass": 1000,
        "_N_step": 1000,
        "max_pass": 50000,
        "min_pass": 2000,
        "_max_step": 10000,
        "_max_sample": 500,
        "_min_sample": 100,
        "confidence": 0.95,
        "measurements": [
            {
                "quantity": "formation_energy"
            },
            {
                "quantity": "potential_energy"
            },
            {
                "quantity": "atom_frac"
            },
            {
                "quantity": "site_frac"
            },
            {
                "quantity": "order_param",
                "precision": 0.001
            },
            {
                "quantity": "comp_n"
            },
            {
                "quantity": "non_zero_eci_correlations"
            }
        ],
        "storage": {
            "write_observations": true,
            "write_trajectory": false,
            "output_format": [
                "json"
            ]
        },
        "_enumeration": {
            "check": "eq(1,1)",
            "metric": "clex_hull_dist(ALL)",
            "insert_canonical": true,
            "check_existence": true,
            "N_halloffame": 100,
            "sample_mode": "on_sample"
        }
    },
    "driver" : {
	"mode" : "custom",
	"dependent_runs" : false, 
	"motif" : {
	    "configname" : "restricted_auto",
	    "_configname" : "SCEL3_3_1_1_0_2_2/0",
	    "configdof" : "path/to/final_state.json"
	},
	"custom_conditions" : []
    }
}
